*{
	margin: 0;
	padding: 0px;
}
/*渐变动画1*/
  @keyframes class_yi  {
    0% { background: #f64f59; }
    25%{ background: #c471ed; }
    50%{ background: #12c2e9; }
    75%{ background: #c471ed; }
    100%{ background: #f64f59; }
  }
  /*渐变动画2*/
  @keyframes class_er  {
    0% { background: #40E0D0; }
    25%{ background: #FF8C00; }
    50%{ background: #FF0080; }
    75%{ background: #FF8C00; }
    100%{ background: #40E0D0; }
  }
  /*渐变动画3[绿-蓝]*/
  @keyframes class_san  {
    0% { background: #4cd964; }
    50%{ background: #5ac8fa; }
    100% { background: #4cd964; }
  }
.container{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto
}
/*下滑出现*/
@keyframes luandong{
    0%{transform:translateY(-300px);}
    50%{transform:translateY(-100px);}
    100%{transform:translateY(100px);}
  }
/*放大弹出*/
@keyframes popIn {
    0% {
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0.5, 0.5, 0.5);
        opacity: 0;
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
        opacity: 1;
    }
}
/*从左滑到右*/
@keyframes fadeleftIn {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}
/*抖动效果*/

@keyframes dou {
	0% {
		transform: rotate(4deg);
	}
	50% {
		transform: rotate(-4deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.center-block{
	display:block;
	margin-right:auto;
	margin-left:auto
}
.col-lg-12{
	width:100%
}
.col-lg-11{
	width:91.66666667%
}
.col-lg-10{
	width:83.33333333%
}
.col-lg-9{
	width:75%
}
.col-lg-8{
	width:66.66666667%
}
.col-lg-7{
	width:58.33333333%
}
.col-lg-6{
	width:50%
}
.col-lg-5{
	width:41.66666667%
}
.col-lg-4{
	width:33.33333333%
}
.col-lg-3{
	width:25%
}
.col-lg-2{
	width:16.66666667%
}
.col-lg-1{
	width:8.33333333%
}
@media (min-width:768px){
	.container{
		width:482px
	}
}@media (min-width:992px){
	.container{
		width:692px
	}
}@media (min-width:1200px){
	.container{
		width:900px
	}
}

.XY-box{
    margin: 20px auto;
    border-radius: 6px;
    border:1px #007CFF solid;
    box-shadow: 0px 5px 12px 1px rgba(10,10,10,0.3);
    background-color: #fff;
    padding: 0px;
    overflow: hidden;
}
.XY-box .XY-title{
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    height: 38px;
    width: 100%;
    line-height: 38px;
    padding: 3px 0px;
}
.XY-box .XY-body{
    animation: popIn .6s;
    padding: 12px 12px;
}
.XY-box>img{
	width: 100%;
}
/*头部头像*/
.XY-head-tx{
	margin-bottom: 10px;
	/*outline: 1px #f00 solid;*/
	text-align: center;
}
/*头像*/
.XY-head-tx .portrait{
    background:linear-gradient(0deg,rgba(148,188,207,1) 1%,rgba(144,204,220,1) 100%);
    border:3px solid rgba(255, 255, 255, 1);
    box-shadow:0px 0px 7px 3px rgba(155,155,155,0.2);
    border-radius:50%;
    overflow: hidden;
    display:inline-block;
}
.XY-head-tx .portrait:hover {
	animation: dou 0.9s;   /*抖动*/
}
.XY-head-tx .portrait{
    width: 5rem;
    height: 5rem;
}
.XY-head-tx .portrait img{
	width: 100%;
	height: 100%;
}
/*心*/
.XY-head-tx .love{
    display:inline-block;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0px 8px;
    font-size: 1rem;
}
.XY-head-tx .love img{
	width: 100%;
	height: 100%;
}


@media (min-width:768px){
	.XY-box img{
	    height: 40px;
    }
}@media (min-width:992px){
	.XY-box img{
	    height: 140px;
    }
}@media (min-width:1200px){
	.XY-box img{
	    height: 240px;
    }
}
/*微语*/
.XY-micro{
	padding: 10px 14px;
	border-radius: 2px;
    border:0px solid rgba(255, 255, 255, 1);
    box-shadow:0px 0px 7px 3px rgba(155,155,155,0.2);
    border-left-style: solid;
    border-left-color: #007CFF;
    border-left-width: 10px;
    color: #000;
    font-size: 16px;
    animation: popIn .6s;
    margin: 12px 12px;
    margin-bottom: 9px;
}
/*标题*/
.XY-xlrq{
	padding-top: 10px;
	font-size: 20px;
	text-align: center;
	color:#fc6c6c;
	font-weight: 600;
}
/*记录*/
.XY-record{
    animation: fadeleftIn .6s;
    padding: 10px 14px;
	border-radius: 5px;
    border:0px solid rgba(255, 255, 255, 1);
    box-shadow:0px 0px 7px 3px rgba(155,155,155,0.2);
    color: #000;
    font-size: 16.5px;
    width: 70%;
    margin: 0px auto;
    margin-top: 12px;
    background-color: #fff;
}
.XY-record span{
    color: #fc6c6c;
    font-size: 18px;
    font-weight: 600;
}

/*渐变：绿色*/
.XY-color-green{
    background: linear-gradient(to right,#6DE195,#C4E759);
}
/*渐变：蓝色*/
.XY-color-blue{
    background: linear-gradient(to right,#00AEFF,#007CFF);
}
/*渐变：黑色*/
.XY-color-black{
    background: linear-gradient(to right,#121317,#323B42);
}
/*渐变：粉色*/
.XY-color-pink{
    background: linear-gradient(to right,#f78fad,#ff576e);
    color: #fff;
}
/*渐变：黄色*/
.XY-color-yellow{
    background: linear-gradient(to right,#ffe259,#ffa751);
}


/**放大缩小动画**/
.enlarge{
    position:relative;
    animation:mymove 3s infinite;
    -webkit-animation:mymove 3s infinite; /*Safari and Chrome*/
    animation-direction:alternate;/*轮流反向播放动画。*/
    animation-timing-function: ease-in-out; /*动画的速度曲线*/
    /* Safari 和 Chrome */
    -webkit-animation:mymove 3s infinite;
    -webkit-animation-direction:alternate;/*轮流反向播放动画。*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
}
@keyframes mymove
{
    0%{
    transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }

}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    0%{
    transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
/*卡片左右布局*/
.XY-card-body{
    height: 450px;
    overflow-x:scroll;
    margin: 12px 0px;
    padding:0px 12px;
}
.XY-card-body::-webkit-scrollbar {
    display: none;
}
.XY-card-left{
    float: left;
    width: 48%;
    margin: 12px 0px;
}
.XY-card-right{
    float: right;
    width: 48%;
    margin: 12px 0px;
}
/*图片卡片*/
.XY-card{
	border-radius: 6px;
    border:0px solid rgba(255, 255, 255, 1);
    box-shadow:0px 0px 7px 3px rgba(155,155,155,0.5);
    color: #000;
    font-size: 16.5px;
    min-height: 50px;
    margin: 10px 0px;
    overflow: hidden;
    padding: 0px;
}
.XY-card .txt{
    padding: 10px 18px;
    overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.XY-card .big-img{
    width: 100%;
    height: 100%;
}
/*按钮*/
.XY-button{
    display: inline-block;
    padding:4px 14px;
    text-align: center;
    border: 0px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow:0px 1px 8px 2px rgba(10, 10, 10, 0.2);
    color: #fff;
    margin: 12px 6px;
    outline: none; /* 不显示轮廓线 */
    font-size: 17px; /* 字体大小 */
    position: relative; /** 相对布局 **/
    font-weight: 600;
}
.XY-button:hover{
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    bottom: 2px; /**向下偏移2px **/
}
/*标题*/
.XY-everyday-title{
    margin-left: 12px;
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
    font-weight: 600;
}
/*成就*/
.XY-everyday-accum{
    animation: dou 1.2s;
    border-radius: 10px;
    width: 99%;
    height: 11.5rem;
    margin: 20px 0px;
    display: inline-block;
    background-color: #000;
    box-shadow:0px 0px 7px 3px rgba(155,155,155,0.3);
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.XY-everyday-accum .left{
    width: 47%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.XY-everyday-accum .right{
    width: 53%;
    height: 100%;
    overflow: hidden;
    text-align: left;
}
.XY-everyday-accum .left>.img{
    width: 100%;
    border-radius: 17px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    max-height: 98%;
}
.XY-everyday-accum .left>.img img{
    width: 100%;
    height: 100%;
}
.XY-everyday-accum .right .title{
    text-align: left;
    color: #fff;
    margin-top:15px;
    margin-right: 11px;
    font-size: 18.5px;
    font-weight: 600;
}
.XY-everyday-accum .right .txt{
    text-align: left;
    margin-right:7px;
    margin-top:4px;
    font-size: 10px;  
    color: #fea13e;
    overflow: hidden;
    height: 48px;
}
.XY-everyday-accum .right .tab{
    font-size: 13px;
    color: #fff;
    font-weight: 550;
    background: rgba(255,255,255,0.3);
    display: inline-block;
    text-align: left;
    padding: 1.8px 10px;
    border-radius: 40px;
    margin-bottom:14px;
    margin-top: 7px;
    height: 18px;
    overflow: hidden;
}
/*祝福*/
.XY-advanced{
    width: 100%;
    height: 110px;
    box-shadow:0px 2px 7px 3px rgba(155,155,155,0.3);
    border-radius: 10px;
    background:#f40;
    margin: 0px auto;
    text-align: center;
}
.XY-advanced .date{
    font-size: 3rem;
    font-weight: 600;
    margin: 5px 0px;
    padding: 25px 0px;
}